.testimonials{
    &__section{
    text-align:center;
    padding:9rem 0 5rem;
    
}
&__scroll-div{
        width: var(--max-width);
        overflow-x: scroll;
        margin-top:2rem;
        padding-bottom: 3.5rem;
        
        // transform:translateX(20%);
        &::-webkit-scrollbar{
            visibility: hidden;
            height:3px;
            color:#fff;
            background-color:var(--color-primary-variant);
            border-radius: 20px;
            
        }
        &:hover::-webkit-scrollbar{
            visibility: visible;
        }
        
    }
    &__cards{
        display:flex;
        gap:calc(var(--max-width)/4);
        width: fit-content;
        
    }
    &__card{
        background-color: var(--color-bg--variant);
        border-radius:25px;
        padding:2.8rem 8rem 3rem;
        text-align:center;
        display:flex;
        gap:1.2rem;
        flex-direction:column;
        align-items:center;
        width:calc(var(--max-width)/2);
        
        // margin:0 auto;
    }
    &__img{
        height:100%;
        width:100%;
        object-fit: cover;
        
        &-div{
            border-radius:50%;
            height:50px;
            width:50px;
            border:5px solid var(--color-primary-variant);
            overflow:hidden;
            
        }
    }
    &__owner{
        font-size:1.3rem;
        font-weight: 500;
        color:#fff;
    }
    &__paragraph{

    }

    
}
@media(max-width:700px){
    .testimonials__card{
        padding:2.8rem 1rem 3rem;
    }
}