.top__h5{
    font-size:1.8rem;  
    font-weight: 300;
  }
  .bottom__h5{
    font-size:1.4rem;
    color:var(--color-light);
}
.about__h{
  color:var(--color-light);
  font-size:1.2rem;
}